#newClaimForm {
	float: left;
}

#urlContainer {
	display: none;
}

#urlSubmit {
	position: relative;
	overflow: hidden;
	margin: 5px 0 5px 0;
	background-color: rgb(238, 238, 238);
	width: 350px;
	padding: 20px;
	border: 1px solid rgb(214, 214, 214);
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px #888;
}

.right {
	float: right;
	border: 1px dashed green;
	width: 500px;
	height: 600px;
}

.arrow_box {
	position: relative;
	background: #fff;
	border: 3px solid #2c2c2c;

	height: 35px;
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 15px;
	top: 50%;
	margin-top: -15px;
}

.arrow_box:before {
	border-color: rgba(44, 44, 44, 0);
	border-right-color: #2c2c2c;
	border-width: 19px;
	top: 50%;
	margin-top: -19px;
}