#urlContainer {
	margin-bottom: 0px !important;
	float: left;
}

#urlButton {
	opacity: 0.6;
}

#urlButton:hover {
	opacity: 1;
}

#urlButton img {
	vertical-align: middle;
	width: 20px;
	margin-right: 5px;
}

#urlButton span {
	font-size: 14pt;
	vertical-align: middle;
}

#urlInput {
	z-index: 200;
}

/*#pasteURL {
	width: 100%;
}*/

#urlSubmit {
	width: 350px;
	height: inherit;
	margin-top: 10px;
}

#urlSubmit input, textarea {
	margin-bottom: 5px;
}

#urlSubmit textarea {
	width: 95%;
}

#scoreDistribution {
	display: none !important;
}

#submit, #cancel {
	float: right;
}

/* to animate pacman moving across screen
#loadingGif {
	z-index: 300;
	position: absolute;
	margin-top: 10px;
	display: none;
}*/

#successAlert {	
	z-index: 300;
	position: fixed;
	left: 30%;
	width: 140px !important;
	margin-left: -100px;
	top: 50%;
	background-color: green;
	padding: 10px;
	color: white;
	font-size: 20pt;
	border-radius: 15px;
	display: none;
}

#successAlert p {	
	line-height: 20pt;
}