#urlContainer {
	margin-bottom: 0px !important;
	float: left;
}

#urlButton {
	opacity: 0.6;
}

#urlButton:hover {
	opacity: 1;
}

#urlButton img {
	vertical-align: middle;
	width: 20px;
	margin-right: 5px;
}

#urlButton span {
	font-size: 14pt;
	vertical-align: middle;
}

#urlInput {
	z-index: 200;
}

#pasteURL {
	width: 100%;
}

#urlSubmit {
	width: 350px;
	height: inherit;
	margin-top: 10px;
}

#urlSubmit input, textarea {
	margin-bottom: 5px;
}

#urlSubmit textarea {
	width: 95%;
}

#scoreDistribution {
	display: none !important;
}

#submit, #cancel {
	float: right;
}

/* to animate pacman moving across screen
#loadingGif {
	z-index: 300;
	position: absolute;
	margin-top: 10px;
	display: none;
}*/

.loadingGif {
	background-image: url('/img/loading.gif');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

#successAlert {	
	z-index: 300;
	position: fixed;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	top: 40%;
	background-color: lightgray;
	padding: 5px;
	color: green;
	font-size: 20pt;
	display: none;
}