#urlContainer {
	margin-bottom: 0px !important;
}

/*removed to fit welcome message
#urlButton, #urlInput {
	position: absolute;
}
*/

#urlButton {
	opacity: 0.6;
}

#urlButton:hover {
	opacity: 1;
}

#urlButton img {
	vertical-align: middle;
	width: 20px;
	margin-right: 5px;
}

#urlButton span {
	font-size: 14pt;
	vertical-align: middle;
}

#urlInput {
	z-index: 200;
}

#pasteURL {
	width: 100%;
}

#urlSubmit {
	width: 350px;
	height: inherit;
	margin-top: 50px;
}

#urlSubmit input, textarea {
	margin-bottom: 5px;
}

#urlSubmit textarea {
	width: 95%;
}

#scoreDistribution {
	display: none !important;
}

#submit, #cancel {
	float: right;
}
