/*
	
	Stylings for company, claim, and tag pages
	
	Patchwork

*/

/*-------------------------General---------------------------------*/

	ul {
		/*display: inline;*/
	}

	li {
		display: inline;
		list-style-type: none;
		float: left;
		/*padding-right: 20px;*/ /*cut off right border in highlow claims view*/
		margin-right: 5px;
	}

	hr {
		color: lightgray;
		background-color: lightgray;
	}

	.container {
		margin-top: 20px;
	}

	.container h2 {
		width: 200px;
	}	

	.content {
		border: 1px solid #D5D5D5;
	}

	#main > div > div, #main > div > ul > li {
		background-color:#fff;
		-webkit-box-shadow: 2px 2px 10px rgba(94, 94, 94, 0.7);
		-moz-box-shadow: 2px 2px 10px rgba(94, 94, 94, 0.7);
		box-shadow: 2px 2px 10px rgba(94, 94, 94, 0.7);
	}

	#main > div > div:hover, #main > div > ul > li:hover {
		background-color:#fff;
		-webkit-box-shadow: 4px 4px 10px rgba(94, 94, 94, 0.7);
		-moz-box-shadow: 4px 4px 10px rgba(94, 94, 94, 0.7);
		box-shadow: 4px 4px 10px rgba(94, 94, 94, 0.7);
	}

/*------------------------Treemap View-----------------------------*/
	#treemapCanvas {
		margin: 20px auto;
	}
	
	#scoreContainer #treemapCanvas {
		margin: 5px auto;
	}
/*-----------------------Claim and Industry Tags-------------------*/
	
	#tagSection{}

	#tagSectionIndicator{}

	#taglist{
		overflow:hidden;
	}

	#tagSection li {
		float: left;
		padding: 4px;
		/*list-style-type: none;*/
		/*background-color: #FEF5CA;*/
		/*border: 1px solid rgb(168, 162, 130);*/
		/*border-radius:3px;*/
		margin-bottom:5px;
		position: relative;
	}

	#tagSection .tagUpvote {
		padding-left:6px;
		font-size: 18pt;
		margin-top: -2px;
	}

	.tagUpvote:hover {
		color: black !important;
		cursor: pointer;
	}

	.fancyTags span {
		vertical-align: top;
		display: inline-block;
	}

	.fancyTags:before {
		content: "";
		height: 30px;
		position: absolute;
		top: 0;
		left: 0;
		padding-left: 20px;
	}

	.fancyTags {
		display: inline-block;
		height: 25px;
		margin-left: 10px;
		padding-left: 5px;
		padding-right: 10px;
		line-height: 25px;
	}

	.userVoted:before {
		background: url('/img/tag.png') no-repeat left -30px;
	}

	.userVoted {
		background: url('/img/tag.png') no-repeat right -97px;
	}

	.userVoted span.tagUpvote {
		color: #0087C7;
	}	

	.notVoted span.tagUpvote {
		color: gray;
	}

	.notVoted:before {
		background: url('/img/tag.png') no-repeat left 0;
	}

	.notVoted {
		background: url('/img/tag.png') no-repeat right -67px;
	}


/*-----------------------Add New Tag---------------------------*/

	#addTag {
		background-color: #4BC2ED;
		border: 1px solid #999;
		border-radius:3px;
		font-weight: bold;
		display: inline;
		float: left;
		padding: 4px 20px 4px 20px;
		font-size: 14px;
		clear:both;
	}

	#newtag_name, #addTag{
		margin-bottom:4px;
	}

	#newtag_name {
		margin-left:90px;
	}

	.originalTagPreview{
		color:#B06307;
		padding:3px 0px 3px 0px;
	}

/*-----------------------Evidence View--------------------------*/

	#evidenceContainer {
		margin-top: 20px;
	}


	#evidenceContent {
		border-left: 5px solid #888;
		background-color: #F2F2F2;
	}

	#evidenceContent dl {
		padding: 5px;
	}

	#evidenceContent dt {
		font-weight: bold;
		float: left;
		clear: left;
	}

	#evidenceContent dd {
		margin-left: 90px;
	}

	#evidenceContent dt, #evidenceContent dd{
		margin-top: 4px;
	}


/*-----------------------Score View----------------------*/
	
	#leftCol {
		float: left;
		width: 37%;
		border-right: 1px solid rgb(213, 213, 213);
	}

	#leftCol, #scoreDistribution, #evidenceContent, #controlContainer, #relatedTagsContainer, #discussionContent{
		overflow: hidden;
	}

	#rightCol {
		float: left;
		width: 62.8%;
	}	

	#claimPopTags li{
		border: 2px solid rgb(102, 102, 102);
		color: white;
		font-size: 18pt;
	}

	#scoreContent {
		overflow: hidden;
	}

	#averageScore {
		font-size: 20pt;
		color: #A0A340;
	}

	#scoreContent h3 {
		padding: 10px;
		border-bottom: 1px solid #CCCCCC;
		color: green;
		font-size: 20px;
	}

	#scoreContent h3 span{
		color: darkgrey;
		font-size: 15px;
	}

	#scoreHeader, #relatedTagsHeader {
		padding: 10px;
		border-bottom: 1px solid rgb(213, 213, 213);
		height: 30px;
	}

	#relatedTagsContainer {
		padding: 10px;
	}

	#relatedTagsHeader span {
		font-size: 15pt;
	}

	#controlContainer {
		padding: 10px;
	}

	#scoreDistribution{
		position: relative;
		overflow: hidden;
		width: 308px;
		height: 65px;
	}

	#scoreDistribution div {
		width: 44px;
		height: 65px;
		float: left;
		position: absolute;
	}

	.circle {
		width: 10px;
		height: 10px;
		background-color: darkgrey;
		border-radius: 5px;
		margin: 5px auto;
	}

	#scoreControl label {
		width: 40px;
		height: 25px;
		float: left;
		opacity: .8;
	}

	#scoreControl label:hover {
		opacity: 1;
	}

	#scoreControl input {
		display: none;
	}

	.scoreBox {
		text-align: center;
		font-size: 15pt;
	}

	.selectedRating {
		border: 2px solid black !important;
	}	

	/*position the circles over the respective box*/
	.box1 {
		left: 44px;
	}
	.box2 {
		left: 88px;
	}
	.box3 {
		left: 132px;
	}
	.box4 {
		left: 176px;
	}
	.box5 {
		left: 220px;
	}
	.box6{
		left: 264px;
	}


/*-----------------------Discussion View----------------------*/

	#discussionContainer {
		position: relative;
	}

	#discussionContent {
		position: relative;
	}

	#discussionContent > div {
		position: relative;
		height: 25px;
		border-bottom: 1px solid lightgray;
		padding: 5px;
	}

	#discussionContent span {
		color: gray;
		font-size: 14pt;
		font-weight: bold;
	}

	#discussionContent li {
		border-left: 5px solid;
		padding-top: 0;
		padding-left: 5px;
		position: relative;
		margin-bottom: 20px;
	}

	#discussionContent textarea {
		float: left;
		margin-right: 10px;
		width: 98%;
	}

	.discussionOptions {
		float: right;
	}

	.thread {
		border-left: 1px solid black;
		overflow: hidden;
	}

	#newComment {
		float: right;
		padding: 2px;
		background-color: #E0E0E0;
		border: 1px solid #CCCCCC;
	}

	#newComment:hover {
		background-color: #CCC;
		border: 1px solid #777;
	}

	#newCommentPopup {
		position: fixed;
		top: 20%;
		left: 50%;
		width: 400px;
		margin-left: -200px;
	}

	#newCommentPopup textarea {
		width: 95%;
		height: 200px;
	}

	input[type="radio"] {
		display: none;
	}

	.buttonsContainer {
		float: right;
	}

	.buttonsContainer > p {
		float: left;
		/*margin: 8px 5px 0 0;*/
	}

	.buttonsContainer .buttons {
		margin: 2px 7px 0 0;
		padding: 2px;
		font-size: 10pt;
	}

	.buttonsContainer label {
		color: grey;
	}

	.buttonsContainer label:hover {
		color: lightgrey;
	}

	.selectedVote {
		color: #0087C7 !important;
	}

	.upVote, .downVote {
		font-size: 16pt !important;
	}	

/*-----------------------HighLowClaims View----------------------*/

	.lowRatedClaims, .highRatedClaims {
		width: 45%;
	}

	.lowRatedClaims {
		float: left;
	}

	.highRatedClaims {
		float: right;
		margin-right: 2px;
	}

	.claimContainer {
		border: 1px solid rgb(213, 213, 213);
		float: left;
		min-width: 100%;
		margin-bottom: 20px;
	}

	.leftContainer {
		float: left;
		width: 15%;
		color: white;
	}

	.rightContainer {
		float: right;
		width: 84.7%;
	}

	.claimScore {
		font-size: 20pt;
	}

	.claimScore, .claimTitle {
		border-bottom: 1px solid rgb(213, 213, 213);
		height: 50px;
	}

	.claimScore, .claimVotes {
		text-align: center;
	}

	.claimScore, .claimVotes, .claimTitle, .claimTags {
		padding: 10px;
	}

/*-----------------------Flags----------------------*/

	#flagButton {
		float: right;
		opacity: .5;
	}

	#flagButton:hover {
		opacity: 1;
	}

	img.flagComment {
		height: 20px;
	}
