ul {
	display: inline;
}

li {
	list-style-type: none;
	float: left;
	padding-right: 20px;
	margin-right: 5px;
}

#claimTags span, #industryTags li{
	float: left;
	padding: 5px 25px 5px 5px;
}

#industryTags li {
	list-style-type: none;
	background-color: #FEF5CA;
	border: 1px solid rgb(168, 162, 130);
}

#claimPopTags li{
	border: 2px solid rgb(102, 102, 102);
	color: white;
	font-size: 18pt;
}

.container {
	margin-top: 20px;
}

.container h2 {
	width: 140px;
}

#evidenceContainer {
	margin-top: 40px;
}

.content {
	border: 1px solid rgb(213, 213, 213);
}

#evidenceContent {
	border-left: 5px solid blue;
	background-color: #F2F2F2;
	padding: 10px;
}

#evidenceContent dt {
	font-weight: bold;
	float: left;
	clear: left;
}

#evidenceContent dd {
	margin-left: 75px;
}
#scoreContent {
	overflow: hidden;
}
#averageScore {
	font-size: 20pt;
	color: #A0A340;
}

#scoreContent h3 {
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
	color: green;
	font-size: 20px;
}

#scoreContent h3 span{
	color: darkgrey;
	font-size: 15px;
}

#discussionContent {
	border: 1px solid lightgray;
}

#discussionContent li {
	border-left: 5px solid;
	padding: 10px;
	position: relative;
}

.discussionOptions {
	float: right;
	
}

#leftCol {
	float: left;
	width: 50%;
}

#leftCol, #scoreDistribution, #evidenceContent, #controlContainer, #relatedTagsContainer, #discussionContent{
	overflow: hidden;
}

#scoreHeader, #relatedTagsHeader {
	padding: 10px;
	border-bottom: 1px solid rgb(213, 213, 213);
	height: 30px;
}

#relatedTagsContainer {
	padding: 10px;
}

#relatedTagsHeader span {
	font-size: 15pt;
}

#controlContainer {
	padding: 10px;
}

#scoreDistribution{
	overflow: hidden;
	width: 308px;
	height: 65px;
}

#scoreDistribution div {
	width: 44px;
	height: 65px;
	float: left;
	position: relative;
}

.circle {
	width: 10px;
	height: 10px;
	background-color: darkgrey;
	border-radius: 5px;
	margin: 5px auto;
}

#scoreControl label {
	width: 40px;
	height: 40px;
	float: left;
	opacity: .8;
}

#scoreControl label:hover {
	opacity: 1;
}

#scoreControl input {
	display: none;
}

.scoreBox {
	text-align: center;
	font-size: 22pt;
}

.selectedRating {
	border: 2px solid black !important;
}

#rightCol {
	float: left;
	width: 49.8%;
	border-left: 1px solid rgb(213, 213, 213);
}

.lowRatedClaims, .highRatedClaims {
	width: 45%;
}

.lowRatedClaims {
	float: left;
}

.highRatedClaims {
	float: right;
}

.claimContainer {
	border: 1px solid rgb(213, 213, 213);
	float: left;
	min-width: 100%;
	margin-bottom: 20px;
}

.leftContainer {
	float: left;
	width: 15%;
	color: white;
}

.rightContainer {
	float: right;
	width: 84.7%;
}

.claimScore, .claimTitle {
	border-bottom: 1px solid rgb(213, 213, 213);
	height: 50px;
}

.claimScore, .claimVotes {
	text-align: center;
}

.claimScore, .claimVotes, .claimTitle, .claimTags {
	padding: 10px;
}

.claimScore {
	font-size: 20pt;
}