.container > div {
	border: 1px solid #CCCCCC;
	/*padding: 10px;*/
}

.container h2 {
	width: 140px;
}

#user {
	float: right;
	/*padding: 10px;
	text-align: right;
	margin: 0 40px 0 -10px !important;
	width: 889px;
	border: 1px solid grey;
	border-left: none;*/
}

#evidenceContent {
	border-left: 5px solid blue;
	background-color: #F2F2F2;
	padding: 10px;
}

#evidenceContent dt {
	font-weight: bold;
	float: left;
	clear: left;
}

#evidenceContent dd {
	margin-left: 75px;
}

.evidenceTags {
/*	background-color: pink;*/
}

#scoreContent {
	border-left: 5px solid green;
	background-color: #F2F2F2;
}

#scoreContent h3 {
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
	color: green;
	font-size: 20px;
}

#scoreContent h3 span{
	color: darkgrey;
	font-size: 15px;
}

#discussionContent {
	border-left: 5px solid red;
}

#scoreMap {
	margin: 10px;
}

#scoreMap, #scoreDistrubution, #evidenceContent{
	overflow: hidden;
}

#scoreDistrubution{
	width: 280px;
	height: 65px;
}

#scoreDistrubution div {
	width: 40px;
	height: 65px;
	float: left;
	/*background-color: darkgrey;*/
	position: relative;
}

.circle {
	width: 10px;
	height: 10px;
	background-color: darkgrey;
	border-radius: 5px;
	margin: 5px auto;
}

#scoreControl label {
	width: 40px;
	height: 40px;
	float: left;
	opacity: .8;
}

#scoreControl label:hover {
	opacity: 1;
}

#scoreControl input {
	display: none;
}

.n3 {
	background-color: #FF4900;
} 
.n2 {
	background-color: #FF7640;
}

.n1 {
	background-color: #FF9B73;
}

.zero {
	background-color: #FEF5CA;
}

.p1 {
	background-color: #61D7A4;
}

.p2 {
	background-color: #36D792;
}

.p3 {
	background-color: #00AF64;
}