/*General-------------------------*/

*{
	padding:0px;
	margin:0px;
}

body, html{
	min-width:100%;
	min-height:100%;
}

body{
	color:#444;
	font-family: Cambria;
	font-size: 14px;
}

a, input, label, li, textarea, #urlButton {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}

a {
	text-decoration: none;
	color: green;
}

a:hover {
	text-decoration: underline;
	color: black;
}

h1, h2, h3 {
	font-family: Rockwell;
}

input, textarea {
	padding: 5px;
	outline: none;
}

input.outfocus, textarea.outfocus {
	border: 2px solid #CCC;
	background-color: white;
}

input.hover, textarea.hover {
	border: 2px solid #DDD;
	background-color: rgb(228, 228, 228);
}

input.infocus, textarea.infocus {
	border: 2px solid #73A6FF;
	background-color: #EFF5FF;
}

/*Header---------------------------*/

header{
	/*vertical, then horizontal*/
	width:900px;
	margin:0px auto 15px;
	
	/*background-color: rgb(220, 220, 220); /*#c6fff1*/
	background-color: lightgreen;


	/*position: absolute;*/
	top: 0;
	left: 0;
	
	width: 100%;
	/*height: 50px;*/
}

#topbar {
	width: 915px;
	padding: 10px;
	margin: 0 auto;
	background-color: #00C12B;
}
/*header * {
	margin: 10px;
}*/

header h1 {
	float: left;
	margin-right: 20px;
}

header input {
	width: 400px;
}

header span {
	float: right;
	margin-left:10px;
}

#tags-label {
	display: block;
	font-weight: bold;
	margin-bottom: 1em;
}

/*Footer---------------------------*/

footer {
	background-color: rgb(190, 190, 190);
	
	position: absolute;
	bottom: 0;
	left: 0;
	
	/*height: 100px;*/
	width: 100%;
}
	
/*Main-----------------------------*/

#main{
	width:915px;
	margin:0px auto;
	/* border: 1px solid; */
}

#main > div {
	margin-bottom: 20px;
}
	
/*SignupPopup------------------------*/
input {
	opacity: 0.6;
}

input {
	opacity: 1;
}

.popup {
	background-color: rgb(238, 238, 238);
	width: 250px;
	z-index: 1;
	position: absolute;
	padding: 20px;
	border: 1px solid rgb(214, 214, 214);
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px #888;
}

.popup input {
	width: 95%;
	margin-top: 5px;
}

.popup p {
	margin: 10px 0 10px 0;
}

#signupPopup, #loginPopup {
	top: 50px;
	right: 90px;
}

input[type=button], input[type=submit] {
	width: 60px;
}

.submitButton {
	margin: 10px 0 0 10px;
	padding: 10px;
	background-color: #61D7A4;
	float: right;
	border: 1px solid #36D792;
}

.cancelButton {
	margin: 10px 0 0 10px;
	padding: 5px;
	background-color: #FF9B73;
	float: right;
	border: 1px solid #FF7640;
}