/*General-------------------------*/

*{
	padding:0px;
	margin:0px;
}

body, html{
	min-width:100%;
	min-height:100%;
}

body{
	color:#444;
	font-family: Cambria;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: green;
}

a:hover {
	text-decoration: underline;
	color: black;	
}

h1, h2, h3 {
	font-family: Rockwell;
}

/*Header---------------------------*/

header{
	/*vertical, then horizontal*/
	width:900px;
	margin:0px auto 15px;
	
	/*background-color: rgb(220, 220, 220); /*#c6fff1*/
	background-color: lightgreen;


	/*position: absolute;*/
	top: 0;
	left: 0;
	
	width: 100%;
	/*height: 50px;*/
}

#topbar {
	width: 915px;
	padding: 10px;
	margin: 0 auto;
	background-color: #00C12B;
}
/*header * {
	margin: 10px;
}*/

header h1 {
	float: left;
	margin-right: 20px;
}

header input {
	width: 400px;
}

header span {
	float: right;
}

/*Footer---------------------------*/

footer {
	background-color: rgb(190, 190, 190);
	
	position: absolute;
	bottom: 0;
	left: 0;
	
	/*height: 100px;*/
	width: 100%;
}
	
/*Main-----------------------------*/

#main{
	width:915px;
	margin:0px auto;
	/* border: 1px solid; */
}

#main > div {
	margin-bottom: 20px;
}
	
/*Home-----------------------------*/

.box {
	width: 150px;
	height: 150px;
}

.companies {
	/* border: 1px solid green; */
	float: left;
}

.products {
	/* border: 1px solid red; */
	float: left;
}

.claims {
	/* border: 1px solid blue; */
	float: left;
}