/*General-------------------------*/

*{
	padding:0px;
	margin:0px;
}

body, html{
	min-width:100%;
	min-height:100%;
}

html {
	min-height: 100%;
}

body{
	color:#444;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
}

.lightsout {
	position: absolute;
	top: 54px;
	left: 0;
	width: 100%;
	z-index: 90;
	background-color: rgba(235, 231, 183, 0.7);
	opacity: 0.7;
	display: none;
	text-align: left;
}

a, input, label, li, textarea, #urlButton, button {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}

a {
	text-decoration: none;
	color: green;
}



li {
	list-style-type: none;
}

a:hover {
	text-decoration: underline;
	color: black;
}


h1, h2, h3 {
	font-family: Rockwell;
}

h5 {
	display: inline-block;
}

input, textarea {
	padding: 5px;
	outline: none;
	font-family: Cambria;
	font-size: 12pt;
}

input.outfocus, textarea.outfocus {
	border: 2px solid #CCC;
	background-color: white;
}

input.hover, textarea.hover {
	border: 2px solid #DDD;
	background-color: rgb(228, 228, 228);
}

input.infocus, textarea.infocus {
	border: 2px solid #73A6FF;
	background-color: #EFF5FF;
}

.error {
	color: red;
}

/*Header---------------------------*/

header{
	/*vertical, then horizontal*/
	width: 100%;
	margin:0px auto 15px;
	padding-top:3px;
	
	background-color: #0A6107;
	padding-top: 2px;

	top: 0;
	left: 0;
	border-bottom:3px solid #f0f0f0;
	
}

header, #logoImage{
	height:52px;
}

#logo {
	float: left;
	width: 40px;
	margin-right: 10px;
}

#topbar {
	width: 915px;
	max-width:70%;
	margin: 0 auto;
	/*background-color: #4D7938;*/
	/*position: relative;*/
	overflow:hidden;
}

#logoImage{
	vertical-align: text-top;
}

header h1 {
	font-weight:normal;
	position:absolute;
	z-index:0;
	left:5px;
}

header h1 a{
	color:#fff;
}

#title_text{
	margin-left: 0px;
	padding-top: 11px;
	display: inline-block;
}

header a{
	color:#fff;
}

header a:hover, footer a:hover {
	color: #fff;
}

header input {
	width: 100%;
	height:20px;
	margin-top:9px;
	position: relative;
	z-index: 2;
}

header span {
	float: right;
	margin-left:10px;
}

#login_buttons{
	position:absolute;
	top:13px;
	right:10px;
}

#login_buttons a{
	border-radius: 2px;
	background-color:#E2EEBE;
	color:#0A6107;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	font-family:Verdana, Geneva, sans-serif;
	display:inline-block;
	margin-right: 5px;

}

#tags-label {
	display: block;
	font-weight: bold;
	margin-bottom: 1em;
}

#navv {
	position: relative;
	top: 12px;
	background-color: #f0f0f0;
	padding-bottom:3px;
	border-bottom: 1px solid #ccc;
}

#navv p {
	width: 915px;
	margin: 0 auto;
}

#navv p a {
	color: green;
}


/*Footer---------------------------*/

footer {
	background-color: #004509;
	width: 100%;
}

footer, footer a{
	color:white;
}

#bottomBar {
	width: 915px;
	padding: 15px;
	margin: 0 auto;
	background-color: #003904;
	text-align: center;
}

#bottomBar ul {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;

}

#bottomBar li {
	float: none;
}

/*Main-----------------------------*/

#main{
	width:925px;
	margin:0px auto;
	overflow: hidden;
	/* border: 1px solid; */
}

#main > div {
	margin-bottom: 20px;
}

#main h1{
	font-size: 28px;
	margin-top: 30px;
}

#main > div , #main h1 {
	width:915px;
	margin-left: auto;
	margin-right: auto;
}

#main h1 a{
	color:#666;
}
	
/*SignupPopup------------------------*/
input {
	opacity: 1;
}

.popup {
	background-color: rgb(238, 238, 238);
	width: 250px;
	z-index: 200;
	position: absolute;
	padding: 20px;
	border: 1px solid rgb(214, 214, 214);
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px #888;
}

.popup input {
	width: 95%;
	margin-top: 5px;
}

.popup p {
	margin: 10px 0 10px 0;
}

#signupPopup, #loginPopup {
	top: 65px;
	right: 0px;
}

input[type=button], input[type=submit] {
	width: 60px;
}

.submitButton {
	margin: 10px 0 0 10px;
	padding: 10px;
	background-color: #61D7A4;
	float: right;
	border: 1px solid #36D792;
}

.submitButton:hover {
	background-color: #2FB97D;
	border: 1px solid #19583D;
}

.cancelButton {
	margin: 10px 0 0 10px;
	padding: 5px;
	background-color: #FF9B73;
	float: right;
	border: 1px solid #FF7640;
}

.cancelButton:hover {
	background-color: #DA764F;
	color: #6D2E15;
}

.full {
	width: 95%;
}

.threeQuarters {
	width: 75%;
}

.half {
	width: 50%;
}

.quarter {
	width: 25%;
}


/*------------AutoComplete--------------*/

	.autoCompleteResult{
		width:915px;
		background-color:#fff;
	}

	.autoCompleteHeader{
		background-color:#444;
		color:#fff;
		width:905px;
		padding:5px 0px 5px 5px;
		border-radius: 4px;
	}

	.autoCompleteResult .resultScore{
		display:inline-block;
		margin-left:20px;
		padding-left:3px;
		padding-right:3px;
		border:1px solid #ccc;
		border-radius:3px;
		color:#fff;
	}

	.claimResult .resultScore{
		background-color:#B06307;
	}

	.companyResult .resultScore{
		background-color:#075B8C;
	}

	.tagResult .resultScore{
		background-color:#666;
	}

	.claimResult a{
		color:#B06307 !important;
	}

	.companyResult a{
		color:#075B8C !important;
	}

	.ui-menu-item a.ui-state-focus{
		margin:0px !important;
		border-image-width:0px !important;
	}

	li.ui-menu-item a {
    	display: block;
    	font-weight:bold;
	}
