#main ul {
	float: left;
	width: 960px;
	margin-top: 50px;
}

#main li {
	width: 150px;
	height: 90px;
	border: 1px;
	padding: 2px;
	opacity: 0.8;
	list-style-type: none;
	float: left;
}

#main li:hover {
	opacity: 1;
}

.rating {
	float: left;
	margin: 10px;
}

#submissions, #comments {
	float: left;
}

#urlButton, #urlInput {
	position: absolute;
	width: 180px;
	height: 20px;
	float: left;
}

#urlButton {
	opacity: 0.6;
}

#urlButton:hover {
	opacity: 1;
}

#urlButton img {
	vertical-align: middle;
	width: 20px;
	margin-right: 5px;
}

#urlButton span {
	font-size: 14pt;
	vertical-align: middle;
}

#pasteURL {
	width: 200px;
}

#urlSubmit {
	/* background: url('http://webhost.ischool.uw.edu/~bc28/submittingClaim.png');
	background-repeat: no-repeat; */
	background-color: #D1D2D4;
	width: 780px;
	height: 450px;
	z-index: 100;
	position: absolute;
	margin-left: 70px;
	padding: 10px;
}

#urlSubmit input, textarea {
	margin-bottom: 5px;
}

#submit, #cancel {
	float: right;
}

.full {
	width: 100%;
}

.half {
	width: 50%;
}

.quarter {
	width: 25%;
}