#main ul {
	float: left;
	/*width: 960px;*/
	/*margin-top: 50px;*/ /*gave a lot of white space above tags boxes in add claim box*/
}

#main li {
	width: 150px;
	/*height: 90px;*/ /*made tags boxes too tall in add claim box*/
	border: 1px;
	padding: 2px;
	opacity: 0.8;
	list-style-type: none;
	float: left;
}

#main li:hover {
	opacity: 1;
}

#treemapCanvas {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 60px;
	font-family: Cambria, serif;
}

#treemapFilters {
	width: 100%;
	padding-left: 15px;
}

#treemapFilters  .button {
	padding: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: left;
	cursor: pointer;
	
	border: 2px solid #7ed6d7;;
}

#treemapFilters  .button.active {
	background-color: #7ed6d7;
}