/* General Styles */
#main a {
	color: rgb(21, 0, 60);
}

.container ul {
	float: left;
	width: 915px;
}

li {
	list-style-type: none;
}

.container {
	float: left;
	width: 100%;
	margin-top: 0px;
}

#user {
	position: relative;
}

#user h1 {
	float: left;
	margin-top: 0;
}

#user p {
	float: right;
}

#user div {
	right: 0;
	top: 20px;
}

#deleteAccount:hover {
	background-color: red;
}

#message {
	font-size: 16pt;
}

/* Submissions section styles */
#submissions li {
	width: 110px;
	height: 90px;
	border: 1px;
	padding: 2px;
	opacity: 0.8;
	float: left;
}

#submissions li:hover {
	opacity: 1;
}

/* Votes section styles */
.threadContainer {
	background-color: #E7E7E7;
	padding: 10px;
	margin-top: 10px;
}

#votes li {
	margin: 5px 0 10px 10px;
}

.votedComment {
	font-size: 14pt;
	margin-left: 10px;
	background-color: #E7E7E7;
	padding: 5px;
}

.coComment {
	float: right;
	margin-right: 20px;
}

.scrollBox {
	height: 500px;
	overflow: auto;
}

.topBorder {
	border-top: 2px solid darkgray;
}